.container{
    width: 400px;
    height: 400px;
    border: 1px solid #000;
    position: absolute;
    left: 450px;
    top: 150px;



    
}
.inp{
    margin-left: 30px;
width: 80%;
height: 40px;
}
.pas{
    margin-left: 30px;
    width: 80%;
    margin-top: 50px;
    height: 40px;
}
.btn{
    margin-left: 110px;
    width: 40%;
    margin-top: 75px;
    height: 40px;
}
.text{

    margin-left: 150px;
    color: crimson;
}
.gren{
                     border: 3px solid rgb(7, 255, 7);
}
.red{
    border: 3px solid rgb(7, 255, 7);
}